body {
   

    font-family:'Times New Roman', Times, serif;
}


.table{
    width:100%;

}


.table, tr {
    margin-bottom: 5px;
}


.message{
    margin-top: 10px;
    background-color:aquamarine;
    color:lightcoral;
    text-align:center;
}