
<hr />
<div class="container">
    <section id="content">
        <form action="/Registrar/registrar" method="post">
            <h1>Crear Una Cuenta de Usuario</h1>
          
            <div>
                <label style="margin-right: 65%;">Usuario</label>
                <input type="text" required="" id="user" name="username"/>
            </div>
            <div>
                <label style="margin-right: 58%;">Contraseña</label>
                <input type="password" required="" id="password" name="password"/>
            </div>
            <div>
                <label style="margin-right: 38%;">Confirmar Contraseña</label>
                <input type="password" required="" id="passwordconfirm" name="password2" />
            </div>
           <div>
               <label style="margin-right: 50%;">Tipo de Cuenta</label>
               <select id="role" class="" name="role">
                   <option selected>elegir una opcion</option>
                   <option value="admin">Administrator</option>
                   <option value="vendedor">Vendedor</option>
               </select>
           </div>
            

            <div>
                <input type="submit" value="Continuar" />
                <a href="#">¿Contraseña olvidada?</a>

            </div>
        </form><!-- form -->
    </section><!-- content -->
</div><!-- container -->
