
<hr />
<div class="container">
    <section id="content">
        <form action="/Registrar/registrar" method="post">
            <h1>Información personal</h1>

            <div>
                <label style="margin-right: 65%;">Nombre</label>
                <input type="text" required="" name="nombre" />
            </div>

           
            <div>
                <label style="margin-right: 58%;">Apellido(s)</label>
                <input type="text" required="" name="apellido" />
            </div>
            <div>
                <label style="margin-right:68%;">Cedula</label>
                <input type="text" required="" name="cedula" />
            </div>

            <div>
                <label style="margin-right: 42%;">Correo Electronico</label>
                <input type="text" required="" name="correo" />
            </div>



            <div>
                <input type="submit" value="Registrar" />
                <a href="#">¿Contraseña olvidada?</a>

            </div>
        </form><!-- form -->
    </section><!-- content -->
</div><!-- container -->